/*Fonts */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

/* Stylesheet */
h1 {
    text-align: center;
    background-color: black;
}

h2 {
    font-size: 2.5rem;
    background-color: black;
    color: red;
    padding: 10px;
    margin: 0;

}

h3 {
    font-size: 1.5rem;
    color: red;
    background-color: black;
    margin: 0;
    padding: 10px;
    line-height: 4;
}

h1, h2, h3 {
    color: red;
}

h1 a {
    text-decoration: none;
    color: red;
    cursor: pointer;

}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Struc CSS */

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    background-color: black;
    background-size: cover;
}

.w100 {
    width: 100%;
}

.section {
    padding: 10px;
}

.top-margin-5 {
    margin-top: 5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    list-style: none;
    background-color: black;
}

.navbar .title {
    color: red;
    font-size: 1.5em;
    margin-left: 0;
}

.navbar .links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2px;
    font-size: 1em;
}

.navbar .links li {
    display: flex;
    justify-content: space-between;
}

.navbar .links a {
    color: red;
    text-decoration: none;
    margin: 2px 15px;
}

.navbar .links a:hover {
    text-decoration: underline;
}


ul {
    list-style-type: none;
    padding: 0;
    background-color: black;
    color: red;
    margin: 0;
    padding: 10px;
    line-height: 4;

}

p {
    background-color: black;
    color: red;
    margin: 0;
    padding: 10px;
    line-height: 4;
}

div {
    background-color: black;
    background-size: cover;
}

form {
    font-family: Arial, sans-serif;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type="email"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="First Name"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="Surname"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
}


.signup-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

.social-icons a:hover {
    color: darkgreen;
}


/* Media queries */

@media screen and (min-width: 600px) {
    .box {
        width: 50%;
    }

    /* responsive css */
    #nav {
        height: 40px;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .box {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid;
        margin-bottom: 20px;
    }

    #nav ul,
    #header {
        display: flex;
        flex-direction: column;
    }

    #logo {
        flex-grow: 1;
    }

    #header div {
        /* Display img and text in header next to eachother on larger screens*/
        width: 50%;
    }

}