/*Fonts */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

h1 {
    text-align: left;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    color: red;
}




.text-left {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar {
    list-style-type: none;
    padding: 10;
    margin: 5;
    display: flex;
}

.nav-bar li {
    margin-left: 20px;
}


/* Struc Css */

body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}

.w100 {
    width: 100%;
}

.section {
    padding: 10px;
}